---
- name: Ensure base deploy directory exists
  ansible.builtin.file:
    path: "{{ base_deploy_path }}"
    state: directory
    mode: "0755"

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
  when: common_upgrade | bool

- name: Upgrade apt packages
  ansible.builtin.apt:
    upgrade: dist
  when: common_upgrade | bool

- name: Install common packages
  ansible.builtin.apt:
    name: "{{ common_packages }}"
    state: present

- name: Ensure docker compose plugin is installed
  ansible.builtin.apt:
    name:
      - docker-compose-plugin
      - python3-docker
    state: present

- name: Ensure community.docker collection dependencies are present
  ansible.builtin.pip:
    name:
      - docker
      - docker-compose
    state: present
    extra_args: --upgrade

